#----------------------------------------------------------------------------
# \brief git ignore file for tdtdump
#----------------------------------------------------------------------------


CMakeLists.txt.user
CMakeLists.txt.user.*
*_bck

#--- Fin --------------------------------------------------------------------
